@model EmployeeViewModel
@{
	ViewData["Title"] = "Details";
}
@{
	var dept = new SelectList(ViewData["Department"] as IEnumerable<Department>, nameof(Department.ID), nameof(Department.Name));
}

<h1 class="text-info">Details  @Model.Name</h1>


<dev class="d-flex justify-content-center align-items-center  ">
	<img src="~/Files/Images/@Model.ImageName" width="99px" class=" img-fluid" />
</dev>


<dev class="form-group ">
	<label class="col-form-label  " asp-for="Name"></label>
	<input class="form-control" asp-for="Name" readonly />
	<span asp-validation-for="Name"></span>
</dev>

<dev class="form-group ">
	<label class="col-form-label  " asp-for="Email"></label>
	<input class="form-control" asp-for="Email" readonly />
	<span asp-validation-for="Email"></span>
</dev>

<dev class="form-group ">
	<label class="col-form-label  " asp-for="Address"></label>
	<input class="form-control" asp-for="Address" readonly />
	<span asp-validation-for="Address"></span>
</dev>
<dev class="form-group ">
	<label class="col-form-label  " asp-for="Age"></label>
	<input class="form-control" asp-for="Age" readonly />
	<span asp-validation-for="Age"></span>
</dev>

<dev class="form-group ">
	<label class="col-form-label  " asp-for="Salary"></label>
	<input class="form-control" asp-for="Salary" readonly />
	<span asp-validation-for="Salary"></span>
</dev>


<dev class="form-group ">
	<label class="col-form-label  " asp-for="Gender"></label>
	<input class="form-control" asp-for="Gender" readonly />
	<span asp-validation-for="Gender"></span>
</dev>
<dev class="form-group ">
	<label class="col-form-label  " asp-for="IsActive"></label>
	<input class="form-ch" asp-for="IsActive" readonly />
	<span asp-validation-for="IsActive"></span>
</dev>
<br />
<dev class="form-group ">
	<label class="col-form-label  " asp-for="PhoneNumber"></label>
	<input class="form-control" asp-for="PhoneNumber" readonly />
	<span asp-validation-for="PhoneNumber"></span>
</dev>

<dev class="form-group">
	<label class="col-form-label  " asp-for="Department"></label>
	<select class="form-control" asp-for="DepartmentId" asp-items="@dept" readonly>
		<option value="@null"> -- select Department -- </option>
	</select>
</dev>

@*    <dev class="form-group ">
	<label class="col-form-label  " asp-for="EmpType"></label>
	<input class="form-control" asp-for="EmpType" />
	<span asp-validation-for="EmpType"></span>
	</dev> *@

<dev class="form-group ">
	<label class="col-form-label  " asp-for="HiringDate"></label>
	<input class="form-control" asp-for="HiringDate" readonly />
	<span asp-validation-for="HiringDate"></span>
</dev>
<br />

<a asp-route-id="@Model.id" class="btn btn-outline-info" asp-action="Edit" asp-controller="employee">Edit</a>|
<a class="btn btn-outline-info" asp-action="index" asp-controller="employee"> Back To List</a>