@model Department

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<dev class="form-group ">
	<label class="col-form-label  " asp-for="Code"></label>
	<input class="form-control" asp-for="Code" readonly />


</dev>

<label class="col-form-label  " asp-for="Name"></label>
<input class="form-control" asp-for="Name" readonly />


	</dev>

<label class="col-form-label  " asp-for="DateOfCreation"></label>
<input class="form-control" asp-for="DateOfCreation" readonly />


	</dev>