
@model Department

@{
    ViewData["Title"] = "create";
}

<h1 class="text-info" >Create New   Department</h1>

<BR />
<BR />
<BR />

<form action="/department/create" method="post"> 
    <dev class="form-group ">
        <label class="col-form-label  " asp-for="Code"></label>
        <input class="form-control" asp-for="Code" />
        <span class="text-danger" asp-validation-for="Code"></span>
        <br />
    </dev>

    <label class="col-form-label  " asp-for="Name"></label>
    <input class="form-control" asp-for="Name" />
    <span  class="text-danger" asp-validation-for="Name"></span>
    <br />

    </dev>

    <label class="col-form-label  " asp-for="DateOfCreation"></label>
    <input class="form-control" asp-for="DateOfCreation" />
    

    </dev>
    <br />
    
    <input type="submit" value="create" class="btn btn-danger" />
    <a class="btn btn-outline-info" asp-action="index" asp-controller="department" > Back To List</a>
</form>

@section script {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}