@model Department
@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-danger">Are You Sure to  Delete Department </h1>

<form asp-action="Delete">
	

	<partial name="partialView/DeleteDetailsViewPartial"></partial>
	<br />
	<br />


	<input type="submit" name="delete" class="btn btn-danger" /> |
	<a class="btn btn-outline-info" asp-action="index" asp-controller="department"> Back To List</a>


</form>

