  @model Department
@{
	ViewData["Title"] = "Details";
}

<h1 class="text-info">Details @Model.Name Department </h1>

<partial name="partialView/DeleteDetailsViewPartial"></partial>
<label class="col-form-label  " asp-for="DateOfCreation"></label>
<input class="form-control" asp-for="DateOfCreation" readonly />


	</dev>
	<br />
	<br />
<a asp-route-id="@Model.ID" asp-action="Edit" asp-controller="Department" class="btn btn-outline-info">Edit</a> |
<a class="btn btn-outline-info" asp-action="index" asp-controller="department"> Back To List</a>
